<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ page.title }} - {{ site.name }}</title>
{% if page.description %}
<meta name="description" content="{{ page.description | truncatewords: 100 | strip_newlines | escape_once }}">
{% else %}
<meta name="description" content="{{ content | strip_html | truncatewords: 30 | strip_newlines | escape_once }}">
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="{{ site.url }}{{ page.url }}/">

<!-- Fonts
================================================== -->
<link href='http://fonts.googleapis.com/css?family=Nova+Slim' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{{ site.url }}/css/style.css">

<!-- Ah, the favicon.
================================================== -->
<link rel="shortcut icon" href="{{ site.url }}/favicon.png">

<!-- Open Graph: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/
Twitter: https://dev.twitter.com/docs/cards/types/summary-card
============================== -->
<meta property="og:title" content="{{ page.title }}">
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}/">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:image" content="{{ site.url }}{{ page.imageurl }}">{% if page.path contains '_posts' %}
<meta property="og:type" content="article">{% endif %}{% if page.ogtype %}
<meta property="og:type" content="{{ page.ogtype }}">{% endif %}
<meta property="fb:admins" content="705948153" />
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.twitter }}">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image" content="{{ site.url }}{{ page.imageurl }}">

<!-- modernizr
================================================== -->
<script src="{{ site.url }}/bower_components/modernizr/modernizr.js"></script>
