<!-- Search Box -->
<article class="panel">
  <form role="search" method="get" action="">
  	<div class="row collapse">
  		<div class="large-8 small-9 columns">
  			<input type="text" value="" name="s" placeholder="Search">
  		</div>
  		<div class="large-4 small-3 columns">
  			<input type="submit" id="searchsubmit" value="Search" class="button postfix">
  		</div>
  	</div>
  </form>
</article>

<!-- Mailchimp Signup -->
<article class="panel">
  <h4>Newsletter</h4>
  <form method="post" action="" class="form mc4wp-form">
    <p>
  	  <label for="mc4wp_email">Email address: </label>
  	  <input type="email" id="mc4wp_email" name="EMAIL" placeholder="Your email address" required="">
    </p>

    <p>
  	  <input type="submit" value="Sign up">
    </p>
    <textarea name="_mc4wp_required_but_not_really" style="display: none !important;"></textarea>
    <input type="hidden" name="_mc4wp_form_submit" value="1">
    <input type="hidden" name="_mc4wp_form_instance" value="1"><input type="hidden" name="_mc4wp_form_nonce" value="4f48f01322">
  </form>
</article>

<!-- Latest Posts -->
<article class="panel">
  <h4>Recent Posts</h4>
  <ul>
    <li><a href="#">Two new songs from I Am the Phantom</a></li>
		<li><a href="#">Let there be light!</a></li>
		<li><a href="#">Bike prayer</a></li>
		<li><a href="#">Video: Transient Revival – Free Will (Featuring Music by Dane Collins)</a></li>
		<li><a href="#">Video: Aeon (featuring music by Dane Collins)</a></li>
	</ul>
</article>

<!-- Latest Book -->
<article class="panel">
  <h4>Latest Book</h4>
  <div class="textwidget">
    <center>
      <a href="http://www.amazon.com/gp/product/0996013806/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0996013806&amp;linkCode=as2&amp;tag=danclacol-20&amp;linkId=BOIDDFLR76RZBL27"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&amp;ASIN=0996013806&amp;Format=_SL250_&amp;ID=AsinImage&amp;MarketPlace=US&amp;ServiceVersion=20070822&amp;WS=1&amp;tag=danclacol-20"></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=danclacol-20&amp;l=as2&amp;o=1&amp;a=0996013806" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;">
    </center>
  </div>
</article>
